*{
  margin: 0;
  padding: 0;
}

.main-section{
  background-image: url(assets/new-gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

/* Navbar */
.navbar{
  border-bottom: 1px solid #3A3A3A;
  padding: 20px;
}
.nav-link{
  color: #3A3A3A;
  font-size: 17px;
}
.b-btn{
  height: 52px;
  width: 129px;
  color: #FFFFFF;
  background-color: #FFA229;
  border: 1px solid #FFA229;
  font-size: 17px;
  margin: 0 20px;
}
.c-btn{
  height: 52px;
  width: 82px;
  background-color: unset;
  border: 1px solid #8A8A8A;
  font-size: 17px;
  margin: 0 20px;
}
.span-lg{
  font-size: 17px;
  margin: 0 4px;
}
.nav-icons{
  direction: rtl;
}
.nav-icon-border{
  width: 30px;
  height: 30px;
  border: 1px solid #3A3A3A;
  border-radius: 50%;
  padding: 2px 4px;
  margin: 0 4px; 
}
.lg-icon{
  border: 1px solid #3A3A3A;
  border-radius: 50%;
  padding: 2px; 
  margin-bottom: 6px;
}

/* Main */
.my-container{
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.right{
  width: 50%;
}
.left{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5em;
}
.main-header{
  font-size: 40px;
  font-weight: bold;
  color: #3A3A3A;
}
.main-p{
  color: #6B6B6B;
  padding: 0 5px;
}
/* Progress bar*/
.g-container{
  width: 75%;
  height: 25px;
  background-color: #C9C9C9;
  margin:0 auto ;
  outline: 1px solid #8A8A8A;
}
.g-progress{
  width: 80%;
  height: inherit;
  background-image: linear-gradient(to right, #6B6BF2 , #B058E1);
}
main span{
  color: #3A3A3A;
}
.my-btn{
  width: 200px;
  height: 52px;
  background-color: unset;
  border: 1px solid #8A8A8A;
  font-size: 17px;
  margin: 0 20px;
  color: #3A3A3A;
}
.icons{
  margin-top: 30px;
  direction: rtl;
}
.icon-border{
  border: 1px solid #3A3A3A;
  border-radius: 50%;
  padding: 12px;
  margin: 5px;
}

/* Featured section*/
.f-header{
  color: #3A3A3A;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  margin: 30px;
}
.f-img{
  height: 60%;
  width: 100%;
  object-fit: contain;
  object-position: top;
}
.e-header{
  color: #3A3A3A;
  font-size: 30px;
  font-weight: 500;
}

/* Eco-system section*/
.s-img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: top;
}
.e-btn{
  width: 280px;
  height: 52px;
  background-color: unset;
  border: 1px solid #8A8A8A;
  font-size: 17px;
  margin: 0 20px;
  color: #3A3A3A;
}


/* aya */

.collaborate-wrapper{
  margin-top: 30px;
}
.slide-container{
  max-width: 1300px;
  width: 100%;
  padding: 10px 20px !important;
  
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 2 5px;
}
.card{
  border-radius: 3px !important;
  /* width: 250px ; */
  height: 250px;
  padding: 15px;
  border-color: transparent !important;
  display: flex;
    justify-content: center;
    align-items: center
}

.card-content{
 width: 80%;
 height: 90%;
 border: 1px solid #6B6BF2;
 display: flex;
 justify-content: center;
 align-items: center;

}
.collaboration-logo{
  width:85%;
  height: 85%;
 background-image: linear-gradient(to top, #6B6BF2 , #B058E1) !important


}
.collaboration-title{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
 width: 90%;

}


.swiper-navBtn{
  color: transparent !important;
  transition: color 0.3s ease;
  background-color: #B058E1;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  line-height: 35px;
  background-image: linear-gradient(to top, #6B6BF2 , #B058E1) !important

}

.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
.swiper-button-next{
  background-image: url('./assets/nextArrow.png') !important;
  background-position: bottom;
  background-repeat: no-repeat;
}
.swiper-button-prev{
  background-image: url('./assets/→.png') !important;
  background-repeat: no-repeat;
  background-position: top;
} 
.exchanges-wrapper, .footer-wrapper{
  margin-top: 70px;
}
.footer-wrapper{
  background-image: url('./assets/ScrollGradient.png');
}
.exchanges-header, .collaboration-header{
  text-align: center;
  color: #3A3A3A;
}
.roadmap-wrapper{
  width: 100%;
  height: 900px;
  background-image: url('./assets/roadmap/grid-clean.png') ,radial-gradient(#9144C4, #141246);
  background-size: contain;
}
@media screen and (max-width:992px){
  .roadmap-wrapper{ 
    height: 750px;
  }
}
@media screen and (max-width: 768px) {
 .roadmap-wrapper{
   height: 900px;
  } 

  
 /*menna*/
 .navbar{
  border: none;
 }
 .my-container{
  flex-direction: column-reverse;
 }
 .my-container svg{
  height: 300px;
  width: 100%;
 }
 .right,
 .left{
  width: 100%;
  margin: 0;
 }
 .main-header{
   font-size: 20px;
   margin-bottom: 10px;
 }
 .hide{
  display: none;
 }
 main span{
  font-size: 11px;
  margin-top: 5px;
 } 
 .b-btn{
  height: 42px;
  width: 115px;
 }
 .c-btn{
  height: 42px;
  width: 115px;
 }

 #myDIV {
  height: 250px;
  width: 250px;
  overflow: auto;
}

#content {
  height: 800px;
  width: 2000px;
  background-color: coral;
}
    
  /*menna*/
  .navbar{
    border: none;
  }
  .my-container{
    flex-direction: column-reverse;
  }
  .my-container svg{
    height: 300px;
    width: 100%;
  }
  .right,
  .left{
    width: 100%;
    margin: 0;
  }
  .main-header{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .hide{
    display: none;
  }
  main span{
    font-size: 11px;
    margin-top: 5px;
  } 
  .b-btn{
    height: 42px;
    width: 115px;
  }
  .c-btn{
    height: 42px;
    width: 115px;
  }
  .s-section{
      text-align: center;
  }
  .s-section svg{
    margin: 30px;
    width: 100px;
    height: 100px;
  }
  .s-section .main-p{
    font-size: 1em;
    padding: 0;
  }
  .s-border{
    width: 90%;
    border: 1px solid #707070;
    margin: 0;
    margin-left: 15px;
    padding: 20px 0 !important; 
    color: #3A3A3A;
  }
  .f-header{
    font-size: 30px;
  }
  .s-carousel{
    height: 100px;
  }
  .s-carousel-inner,.s-carousel-item{
    height: 100%;
  }
  .s-carousel-item img{
    height: 50%;
    object-fit: contain;
    object-position: top;
  }
  #eco-header{
    margin-top: 0 !important;
    display: none;
  }
  .eco-section .main-p{
    font-size: .95em;
  }
  .e-btn{
    width: 18em;
    height: 42px;
    font-size: 13px;
    margin: 0;
    margin-bottom: 20px;
    margin: 10px;
  }
  .g-container{
    width: 70%;
  }
 
}
